version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: ionipay-postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      # POSTGRES_USER: postgres by default when skipped
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: